/*
==============================================
Base
==============================================
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
  background: #E2E2E2;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility; 
  line-height: 1.2;
}

a {
  color:#fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4{
  margin: 0;
}

h1{
  font-size: 4.1875rem;
}

h2{
  font-size: 3.125rem;
}

h3{
  font-size: 2.3125rem;
}

p{
 font-size: 1.3125rem;
 line-height: 1.5;
 margin: 0 0 1em; 
}

a{
   color:#8bc349;
}

li{
  list-style: none;
}

.uppercase{
  text-transform: uppercase;
}

img{
  max-width: 100%;
}
/*
==============================================
Layout
==============================================
*/


.l-main-container{
   margin:0 auto;
   width: 90%;
   max-width: 960px;
}

.l-content{
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
}



section {
  background: white;
  box-shadow:0 1px 2px #aaa;
  border-radius: 0.25rem;
  min-height: 12.5rem;
  position: relative;
}


footer{
  min-height: 5rem;
  background:gray;
  box-shadow:0 1px 2px #aaa;
}

section, footer, .l-main-container{
  margin-top: 0.625rem;
}


/*
==============================================
Modules
==============================================
*/



.banner{
  background:url("../img/lovejose.jpg") no-repeat center center fixed;
  background-size: 100%;
  background-size:cover;
  box-shadow:0 1px 2px #aaa;
  border-radius: 0.25rem;
  color: white;
  min-height: 25rem;


}

.ctas{
  margin: 0 auto;
  text-align: center;
  padding:0.625rem 0 2.5rem 0 ;
}

.logo{
  width: 50%;
  text-align: center;

}


.logo__headline{
  font-weight: 900; 
  color: white;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;


}

.logo__subheadline{
  color:white;
  text-shadow: 2px 4px 3px rgba(139,195,73,0.3);
  margin:0.3125rem 0;

}

.cta{
 color:white;
}

.cta--alt{
 color:#94D1AD;
}

.logo__headline, .logo__subheadline, .ctas{
  position: relative;
  top:40px;
  left:20px;
}


.project__img-container{
  width: 100%;
  overflow: hidden;
  
}


.project__image{
  height:auto;
  max-width: 100%;
  margin:0 auto;
  display: block;
}


.section__heading{
  background:#94D1AD;
  color:white;
  display: inline-block;
  font-size: 21px;
  left:-20px;
  min-width: 100px;
  padding:10px; 
  position: relative; 
  top:10px; 
}

.section__heading--project{
  position: absolute; 
}
.project__skills, .project__links{
  padding:10px;
}

.project__skill{
 border:1px solid #E29589;
 background: #E29589;
 color:white;
 display:inline-block;
 float:left;
 font-size: 16px;
 margin-bottom:10px;
 padding:10px;
 width: 100%;
 text-align: center;
}


.section__heading:before {
    bottom: -24px;
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
}

.section__heading:before {
    border-color: transparent #444 transparent transparent;
    border-style: solid;
    border-width: 0 22px 25px 0;
    height: 0;
    left: -1px;
    width: 0;
}

.section__heading:after {
    border-color: #444 transparent transparent;
    border-style: solid;
    border-width: 25px 22px 0 0;
    height: 0;
    right: -1px;
    width: 0;
}
.copyright{
  color:white;
  font-size: 1rem;
  padding-top:1.875rem;
  text-align: center;
  
}

.copyright a{
  color:white;
}

/*
==============================================
States
==============================================
*/

.fa:hover, .item__image:hover, a:hover{
 opacity:.6;

}

.copyright a:hover{
 opacity: 1;
 font-size: 1.3125rem;
}


/*
==============================================
Media Queries
==============================================
*/



/* Custom, iPhone Retina */ 
  @media only screen and (min-width : 20rem) {
    /* Base
    ============== */
    /* Layout
    ============== */
  
    /* Module
    ============== */
    /* States
    ============== */


    
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 30rem) {
    /* Base
    ============== */
    /* Layout
    ============== */

    /* Module
    ============== */
    /* States
    ============== */
  
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 48rem) {
    /* Base
    ============== */
    /* Layout
    ============== */
    .l-content{
      padding: 1.25rem 2.5rem;
    }

 
    /* Module
    ============== */
 
  
    /* States
    ============== */
}

  /* Medium Devices, Desktops */
  @media only screen and (min-width :62rem) {
   /* Base
   ============== */
   /* Layout
   ============== */

  
   
   /* Module
   ============== */

   .projects__skills{
    display:block;
    width: 96%;
    margin: 0 auto;
   }

   .project__skill{
    width: 30%;
    margin-right:2%;
   }


   /* States
   ============== */




  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 75rem) {
    /* Base
    ============== */
    /* Layout
    ============== */

    /* Module
    ============== */
    /* States
    ============== */
  
  }

