/*
==============================================
Base
==============================================
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
  background: #E2E2E2;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility; 
  line-height: 1.2;
}

a {
  color:#fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4{
  margin: 0;
}

h1{
  font-size: 4.1875rem;
}

h2{
  font-size: 3.125rem;
}

h3{
  font-size: 2.3125rem;
}

p{
 font-size: 1.3125rem;
 line-height: 1.5;
 margin: 0 0 1em; 
}

a{
   color:#8bc349;
}

li{
  list-style: none;
}

.uppercase{
  text-transform: uppercase;
}

img{
  max-width: 100%;
}
/*
==============================================
Layout
==============================================
*/


.l-main-container{
   margin:0 auto;
   width: 90%;
   max-width: 960px;
}

.l-content{
  margin: 0 auto;
  padding: 1.25rem 2.5rem;
}



section {
  background: white;
  box-shadow:0 1px 2px #aaa;
  border-radius: 0.25rem;
  min-height: 12.5rem;
  position: relative;
}


footer{
  min-height: 5rem;
  background:gray;
  box-shadow:0 1px 2px #aaa;
}

section, footer, .l-main-container{
  margin-top: 0.625rem;
}


/*
==============================================
Modules
==============================================
*/



.banner{
  background:url("../img/banner.jpg") no-repeat center -5rem  fixed;
  background-size: 100%;
  background-size:cover;
  background-color: black;
  box-shadow:0 1px 2px #aaa;
  border-radius: 0.25rem;
  color: white;
  min-height: 25rem;

}

.ctas{
  margin: 0 auto;
  text-align: center;
}


.logo__headline, 
.logo__subheadline{
  margin:0 auto;
  text-align: center;
}


.logo__headline{
  color:#8bc349;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

}

.logo__headline{

    font-weight: 900;
  background-color: #fff; 
  color: #8bc349;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

.logo__subheadline{
  color:#B6B6B6;
  text-shadow: 2px 4px 3px rgba(139,195,73,0.3);
  margin:0.3125rem 0;
}

.fa{
 color:#8bc349;

}



.project__heading{
  background:#8bc349;
  color:white;
  display: inline-block;
  font-size: 21px;
  min-width: 50%;
  padding:10px;   

}


.project__subheading{
  padding:10px;
}


.project__img-container{
  width: 100%;
  overflow: hidden;
  
}


.project__image{
  height:auto;
  max-width: 100%;
  margin:0 auto;
  display: block;
}


.section__heading{
  background:#8bc349;
  color:white;
  display: inline-block;
  font-size: 21px;
  left:-20px;
  top:10px;
  min-width: 100px;
  padding:10px; 
  position: relative; 
  
}



.section__heading:before {
    bottom: -24px;
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
}

.section__heading:before {
    border-color: transparent #444 transparent transparent;
    border-style: solid;
    border-width: 0 22px 25px 0;
    height: 0;
    left: -1px;
    width: 0;
}

.section__heading:after {
    border-color: #444 transparent transparent;
    border-style: solid;
    border-width: 25px 22px 0 0;
    height: 0;
    right: -1px;
    width: 0;
}
.copyright{
  color:white;
  font-size: 1rem;
  padding-top:1.875rem;
  text-align: center;
  
}


/*
==============================================
States
==============================================
*/

.fa:hover, .item__image:hover, a:hover{
 opacity:.6;
}



/*
==============================================
Media Queries
==============================================
*/


/*
==============================================
Layout
==============================================
*/

/*
==============================================
Modules
==============================================
*/

/*
==============================================
States
==============================================
*/


