/*
==============================================
Base
==============================================
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
  background: #E2E2E2;
  background-image:url(../img/xv.png);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility; 
  line-height: 1.2;

}

a {
  color:#fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4{
  margin: 0;
}

h1{
  font-size: 4.1875rem;
}

h2{
  font-size: 3.125rem;
}

h3{
  font-size: 2.3125rem;
}

p{
 font-size: 1rem;
 line-height: 1.5;
 margin: 0 0 1em; 
}

a{
   color:#8bc349;
}

li{
  list-style: none;
}

.uppercase{
  text-transform: uppercase;
}

img{
  max-width: 100%;
}
/*
==============================================
Layout
==============================================
*/


.l-main-container{
  margin:0 auto;
  max-width: 60rem;
  width: 100%;

}

.l-content{
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
}

section {
  background: white;
  min-height: 12.5rem;
  position: relative;
}


footer{
  background:gray;
  min-height: 5rem;
  box-shadow:0 1px 2px #aaa;
}

section, footer{
  margin-top: 0.625rem;
}


/*
==============================================
Modules
==============================================
*/



.banner{
  background:url("../img/lovejose.jpg") no-repeat center center fixed;
  background-size: 100%;
  background-size:cover;
  background-attachment: scroll; 
  color: #fff;
  min-height: 25rem;
  min-width: 100%;
  min-height: 100%

}


.logo{
  font-family: 'Nunito', sans-serif;
  display:inline-block;
  margin: auto;
  padding:10% 5%;
  text-align: center;
}


.logo__headline{
    font-size: 3.125rem;
  
}

.logo__subheadline{
  color:#fff;
  text-shadow: 2px 4px 3px rgba(139,195,73,0.3);
  margin:0.3125rem 0;
}


.ctas{
  text-align: center;
}

.ctas--alt{
  padding-top: 3.75rem;
}
.cta{
 color:#fff;
}

.cta--alt{
 color:#94D1AD;
 padding-top: 20%;
}


.project__image-container{
  width: 100%;
  overflow: hidden;
}


.project__image{
  height:auto;
  max-width: 100%;
  margin:0 auto;
  display: block;
  -webkit-transition: all 1s; 
  transition: all 1s;
}


.section__heading{
  background:#94D1AD;
  color:#fff;
  display: inline-block;
  font-size: 1.3125rem;
  min-width: 8.75rem;
  text-align: center;
  padding:0.9375rem 0.625rem;
  position: relative; 
  z-index: 999;
}

.project__skills{
 display:inline-block;
 padding:0;
 width: 100%;
}


.project__skill{
 border-bottom:1px solid #E29589;
 color:#E29589;
 display:inline-block;
 float:left;
 font-size: 1rem;
 margin-bottom:0.625rem;
 padding:0.625rem;
 width: 100%;
 text-align: center;
}


.copyright{
  color:#fff;
  font-size: 1rem;
  padding-top:1.875rem;
  text-align: center;
  
}

.copyright a{
  color:#fff;
}

/*
==============================================
States
==============================================
*/

.fa:hover, .project__link:hover{
 opacity:.6;

}

.copyright a:hover{
 opacity: 1;
 font-size: 1.3125rem;
}

.project__image:hover{
   -webkit-transform: scale(1.25);
   transform: scale(1.25);

}

/*
==============================================
Media Queries
==============================================
*/



/* Custom, iPhone Retina */ 
  @media only screen and (min-width : 20rem) {
    /* Base
    ============== */
    /* Layout
    ============== */
  
    /* Module
    ============== */
    /* States
    ============== */


    
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 30rem) {
    /* Base
    ============== */
    p{
      font-size: 1.3125rem;
    }
    /* Layout
    ============== */

    /* Module
    ============== */

  
    /* States
    ============== */
  
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 48rem) {
    /* Base
    ============== */

    /* Layout
    ============== */

    .l-main-container{
       width: 90%;
       margin-top: 0.625rem;
    }

    .l-content{
      padding: 1.25rem 2.5rem;
    }

 
    /* Module
    ============== */


    section {
      box-shadow:0 1px 2px #aaa;
      border-radius: 0.25rem;
    }
    .banner{
      box-shadow:0 1px 2px #aaa;
      border-radius: 0.25rem;
    }
 

    .section__heading{ 
      left:-1.25rem;
      top:0.875rem;
      min-width: 12.5rem;
      margin-bottom: 0.625rem;
    }


    .section__heading:before {
        bottom: -1.5rem;
        content: "";
        display: block;
        position: absolute;
        z-index: -10;
    }

    .section__heading:before {
        border-color: transparent #444 transparent transparent;
        border-style: solid;
        border-width: 0 22px 25px 0;
        height: 0;
        left: -1px;
        width: 0;
    }

    /* States
    ============== */
}

  /* Medium Devices, Desktops */
  @media only screen and (min-width :62rem) {
   /* Base
   ============== */
   /* Layout
   ============== */

  
   
   /* Module
   ============== */


 .project__skill{
  width: 32%;
  margin-right:2%;
 }

 .project__skill:last-child{
  margin-right:0;

 }

   /* States
   ============== */




  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 75rem) {
    /* Base
    ============== */
    /* Layout
    ============== */

    /* Module
    ============== */
    /* States
    ============== */
  
  }

